@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");

body {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}

:root {
  --font-size-lg: 4.5vw;
  --font-size-md: 3.5vw;
  --font-size-sm: 2.5vw;
  --font-size-xs: 2vw;
  --font-size-2xs: 1.5vw;
  --padding-btn: 1vw;
  --margin-btn: 1vw;
}

.circle {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: calc(160 / 400 * 100%);
  width: 50vw;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
}

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 4vw;
  color: #f7958e;
  cursor: pointer;
  padding: 0;
  width: 5vw;
}
button[data-setter]:hover {
  opacity: 0.5;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container,
#stopWatch-div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: auto;
}

.setters {
  position: absolute;
  left: -35.5vw;
  top: 7.5vw;
  width: 22vw;
  display: flex;
  justify-content: space-between;
}
.minutes-set {
  display: flex;
  /* float: left; */
  margin-right: 0vw;
  width: 10.5vw;
  justify-content: space-around;
}
.seconds-set {
  display: flex;
  /* float: left; */
  margin-right: 0vw;
  width: 10.5vw;
  justify-content: space-around;
}
.controlls {
  position: absolute;
  top: 12.5vw;

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 22vw;
  left: 50%;
  transform: translateX(-50%);
}
.display-remain-time {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 11vw;
  color: #6b6b6b;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#pause {
  outline: none;
  background: transparent;
  border: none;
  width: 50%;
  position: relative;
}
.reset {
  outline: none;
  background: transparent;
  border: none;
  width: 50%;
  position: relative;
}

.btns {
  width: 18vw;
  margin-top: 0.5vw;
  display: flex;
  justify-content: center;
}
.reset::before {
  display: block;
  content: "";
  position: absolute;
  top: 1.5vw;

  left: 3vw;

  border: 1.6vw solid #f7958e;
}
.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 1vw;

  left: 3vw;

  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 3vw solid #f7958e;
}
.pause::after {
  content: "";
  position: absolute;
  top: 1.5vw;
  left: 3vw;
  width: 2vw;
  height: 3.2vw;
  background-color: transparent;
  border-radius: 1px;
  border: 1vw solid #f7958e;
  border-top: none;
  border-bottom: none;
}
#pause:hover {
  opacity: 0.8;
  cursor: pointer;
}
#reset:hover {
  opacity: 0.8;
  cursor: pointer;
}
.e-c-base {
  fill: none;
  stroke: #b6b6b6;
  stroke-width: 5px;
}
.e-c-progress {
  fill: none;
  stroke: #f7958e;
  stroke-width: 10px;
  transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
  fill: #fff;
  stroke: #f7958e;
  stroke-width: 1px;
}
#e-pointer {
  transition: transform 0.7s;
}
.minute-btns {
  display: flex;
  width: 10vw;
  flex-direction: column;
  margin-left: -5vw;
  justify-content: flex-start;
  z-index: 100;
}
.minute-btn {
  padding: var(--padding-btn);
  cursor: pointer;
  border-width: 0;
  background-color: #b6b6b6;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 1px;
  margin: var(--margin-btn);
  font-size: var(--font-size-2xs);
  border-radius: 20px;
  width: auto;
  border-radius: 30px;
}

.showHidden-btn {
  display: none;
  height: auto;
  position: absolute;
  /* width: 45vw; */
  left: 38vw;
}

#todo-div {
  width: 43vw;
  padding-left: 1vw;
  overflow-x: hidden; /* x축 스크롤 방지 */
  word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
}

#noise-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  background-color: lightgray;
  padding: 1vw;
  width: auto;
  border-radius: 5vw;
}

#volBtns {
  display: none;
}

#watchTodo-div,
#watchRecord-div {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#noiseBtn {
  border-radius: 35px;
  font-size: var(--font-size-xs);
  margin: 1vw;
  padding: 1.5vw;
  border: 0;
  background-color: whitesmoke;
  cursor: pointer;
}

#warningDiv {
  position: absolute;
  top: 5vh;
  right: 5vw;
  background-color: #575757;
  color: whitesmoke;
  transition: background-color 0.3s ease-in-out;
  opacity: 0;
  padding: 10px;
  border-radius: 10px;
  z-index: 5;
}

#inputField {
  width: 70vw;
  font-size: 2.4vw;
  padding: 7px;
  border-radius: 2vw;
  padding: 2vw;
  border-width: 1px;
}

.slider {
  -webkit-appearance: none;
  width: 40vw;
  height: 3vw;
  border-radius: 3vw;
  background: #f2f2f2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: #636363;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: #636363;
  cursor: pointer;
}

#nowVolume {
  margin-left: 2vw;
  font-size: var(--font-size-sm);
  width: 4vw;
}

#input-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#switch,
#left-time {
  position: fixed;
  left: 2vw;
  top: 2vw;
  font-size: 1.3vw;
  border-radius: 5vw;
  background-color: #f7958e;
  border: 0;
  padding: 1vw;
  cursor: pointer;
  z-index: 20;
}

#left-time {
  top: 7vw;
}

#switch:hover,
#left-time:hover {
  opacity: 0.8;
}

#hide-btn:hover,
.minute-btn:hover {
  border: 0.2vw solid black;
  padding: 0.9vw;
}

#stopWatch-div {
  display: none;
}

li {
  list-style: none;
  word-break: break-word; /* 단어가 길 경우 자동 줄바꿈 */
  overflow-wrap: break-word; /* 단어가 길어서 넘칠 경우 강제로 줄바꿈 */
  cursor: pointer;
  padding: 0.5vw;
  font-size: 4vw;
  max-width: 100%; /* li의 최대 너비를 부모 컨테이너의 너비로 제한 */
  box-sizing: border-box; /* 패딩을 포함하여 크기 제한 */
}

li:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.h1 {
  font-size: 12vw;
  display: flex;

  margin: 10px;
}

.h1-span {
  font-size: 12vw;
  display: inline-block;
  margin: 0 2vw;
}

.stopWatchPause {
  content: "";
  top: 0;
  left: 0;
  width: 5vw;
  height: 6.3vw;
  background-color: transparent;
  border-radius: 1px;
  border: 1vw solid #f7958e;
  border-top: none;
  border-bottom: none;
  position: relative;

  cursor: pointer;
}

.stopWatchPlay {
  display: block;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  border-right: 0;
  background-color: white;
  margin-right: -3.5vw;

  border-top: 2.9vw solid #ffffff;
  border-bottom: 2.9vw solid #ffffff;
  border-left: 6vw solid #f7958e;
  cursor: pointer;
}

.stopWatchReset {
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  display: block;
  content: "";
  position: relative;
  width: 5.5vw;
  height: 6.2vw;
  background-color: #f7958e;
  cursor: pointer;
}

.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 3vw;
}

.recordWatch {
  font-size: 12vw;
  color: #f7958e;
  display: none;
  cursor: pointer;
  width: 12vw;
  padding: 0;
  background-color: inherit;
  border: 0;
}

.minutes-add {
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
  transform: translateY(0);
  opacity: 1;
  max-height: 500px; /* 초기 최대 높이를 버튼 컨테이너에 맞게 설정 */
}

.minutes-add.collapsed {
  transform: translateY(-20px); /* 위로 살짝 올라가면서 사라지도록 설정 */
  opacity: 0;
  max-height: 0;
  pointer-events: none; /* 사라지는 동안 클릭 방지 */
}

.minute-btns {
  position: relative;
}

#hide-btn {
  z-index: 12;
  position: relative;
  background-color: #f7958e;
}

.ml10vw {
  margin-left: -10vw;
}
